
.card {
    border: 0 px solid black;
    border-radius: 20px;
}

.card-img-top {
    border: 0 px solid black;
    border-radius: 20px 20px 0 0;
}

.titlebeauty {
    color:white;

}

.btnDeleteProducto {
    float: right;
}

#clothes, #grocery {
    background-image: url("../images/parallax.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#beauty {
    background-image: url("../images/parallaxB.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.titleCheckout {
    color:#0d6efd

}

.txttitle {
    color:white;

}